.container {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left; 
    
    .product {
        width: 200px;
        height: 200px;
        
        margin: 10px 10px 10px 10px;

        background-color: black;
        color:white;
        
        display:flex;
        flex-direction:row;
        
        cursor: pointer;
    }
}

.price-display {
    margin: 10px 10px 10px 10px;
}

.products-display{
    margin: 10px 10px 10px 10px;
}

#checkout, #reset {
    font-size: 15px;
    background-color: black;
    
    color: white;
}